<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.multmedia">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner_media_browser"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/HomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".browser.VideoBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|layoutDirection"
            android:excludeFromRecents="true" />
        <activity
            android:name=".browser.AudioBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|layoutDirection"
            android:excludeFromRecents="true" />
        <activity
            android:name=".browser.PictureBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|layoutDirection"
            android:excludeFromRecents="true" />
        <activity android:name=".base.BaseBrowserActivity" />
        <activity android:name=".player.AudioPlayerActivity" />
        <activity android:name=".player.PhotoPlayerActivity"></activity>
    </application>

</manifest>